.footer {
    max-width: 880px;
    margin: auto;
    margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
    .footer {
        max-width: 282px;
        margin-bottom: 36px;
    }
}
.footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}
@media screen and (max-width: 767px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}
